#page-content .info-bar {
  line-height: 32px;
  vertical-align: middle;
}
@media (max-width: 991px) {
  #page-content .info-bar .products-showing {
    text-align: center;
  }
}
@media (max-width: 991px) {
  #page-content .info-bar .products-number-sort {
    text-align: center;
    margin-top: 10px;
  }
}
#page-content .info-bar .products-number strong {
  margin-right: 10px;
}
#page-content .info-bar .products-sort-by select {
  margin-left: 10px;
}
@media (max-width: 991px) {
  #page-content .info-bar .products-sort-by {
    margin: 10px 0 0;
  }
  #page-content .info-bar .products-sort-by select {
    margin: 0;
  }
}

#page-content .product {
  background: #fff;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  /* entire container, keeps perspective */
  /* flip speed goes here */
  /* hide back of pane during swap */
  /*  UPDATED! front pane, placed above back */
  /* back, initially hidden pane */
}
.ribbon {
  position: absolute;
  top: 50px;
  padding-left: 51px;
  z-index: 20;
}
.ribbon .ribbon-background {
  position: absolute;
  top: 0;
  right: 0;
}
.ribbon .theribbon {
  position: relative;
  width: 57px;
  padding: 1px 20px 2px 20px;
  margin: 30px 10px 10px -71px;
  color: #fff;
  background-color: #4fbfa8;
  text-shadow: 0px 1px 2px #bbb;
}
.ribbon .theribbon:before,
.ribbon .theribbon:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}
.ribbon .theribbon:after {
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #2d7b6b #2d7b6b transparent transparent;
}
.ribbon.sale {
  top: 0;
}
.ribbon.new {
  top: 50px;
}
.ribbon.new .theribbon {
  background-color: #5bc0de;
  text-shadow: 0px 1px 2px #bbb;
}
.ribbon.new .theribbon:after {
  border-color: #2390b0 #2390b0 transparent transparent;
}
.ribbon.gift {
  top: 100px;
}
.ribbon.gift .theribbon {
  background-color: #5cb85c;
  text-shadow: 0px 1px 2px #bbb;
}
.ribbon.gift .theribbon:after {
  border-color: #357935 #357935 transparent transparent;
}
#page-content .product .text {
  padding: 10px 10px 0;
}
#page-content .product .text h3 {
  font-size: 18px;
  font-weight: 700;
  height: 39.6px;
  text-align: center;
  overflow: hidden;
}
#page-content .product .text h3 a {
  color: #555555;
}
#page-content .product .text p.price {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}
#page-content .product .text p.price del {
  color: #999999;
}
#page-content .product .text .buttons {
  clear: both;
  text-align: center;
}
#page-content .product .text .buttons .btn {
  margin-bottom: 10px;
}
#page-content .pages {
  text-align: center;
}
#page-content .pages .loadMore {
  text-align: center;
}
#page-content .pages .pagination {
  text-align: center;
}

.xtra-left-padded{
	padding-left: 20px;
}