#map {
  height: 400px;
}

#product-image{
	height:550px;
	
}

#category_items_carousel .item{
    padding: 20px 10px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #CCC;
    
}

#category_items_carousel .product{
	box-sizing: border-box;
	color: #222;
}

#category_items_carousel .item img{
	border-radius: 5px;
	border: 1px solid #CCCCCC;	
	margin: 0px auto;
	height: 200px;
}	
#category_items_carousel .product .text{
	padding: 10px 10px 0px;
}


#category_items_carousel .product .text a{
	color: #222;
	font-size: 18px;
	height: 58px;
	text-align: center;
	overflow: hidden;
	display: block;
	margin: 10px 0px 2px;
	line-height: 18px;
}

#category_items_carousel .product .text a:hover{
	color: #000;
	text-decoration: underline;
}

#category_items_carousel .product .text p.price{
	font-size: 18px;
	text-align: center;
	font-weight: 300;
	display: inline-block;
}
#category_items_carousel .product .text del{
	color: #999;
	display: inline-block;
	padding-right: 10px;
	font-size: 18px;
}